In [1]:
square_dict = {x: x*x for x in range(11)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
multiplicated_xy_dict = {(x,y):x*y for x in range(2) for y in range(2)}
multiplicated_xy_dict

{(0, 0): 0, (0, 1): 0, (1, 0): 0, (1, 1): 1}

In [3]:
prefectures = ['Hokkaido','Hokkaido','Tokyo','Kanagawa']
cities = ['Sapporo','Hokodate','Minato','Yokohama']
populations = [100,200,300,400]
population_dict = {(state,city): population for state,city,population in zip(prefectures,cities,populations)}
population_dict

{('Hokkaido', 'Sapporo'): 100,
 ('Hokkaido', 'Hokodate'): 200,
 ('Tokyo', 'Minato'): 300,
 ('Kanagawa', 'Yokohama'): 400}

In [4]:
multiplicated_xy_setdict = {frozenset([x,y]):x*y for x in range(2)for y in range(2)}
multiplicated_xy_dict

{(0, 0): 0, (0, 1): 0, (1, 0): 0, (1, 1): 1}

In [5]:
{0: {0: 0,1: 0,2: 0},1:{0:0,1:1,2: 2},2:{0: 0,1: 2,2: 4}}

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [6]:
multiplicated_xy_dict = {}
I = 3
J = 3
for i in range(I):
    multiplicated_xy_dict[i] = {}
    for j in range(J):
        multiplicated_xy_dict[i][j] = i*j
multiplicated_xy_dict

{0: {0: 0, 1: 0, 2: 0}, 1: {0: 0, 1: 1, 2: 2}, 2: {0: 0, 1: 2, 2: 4}}

In [8]:
I = 3
J = 3
multiplicated_xy_dict = {j:{j:(i*j) for j in range(J)}for i in range(I)}
multiplicated_xy_dict

{2: {0: 0, 1: 2, 2: 4}}

In [9]:
multiplicated_xy_dict[2][2]

4

In [10]:
print('key1','key','val',sep='\t')
for i, v1 in multiplicated_xy_dict.items():
    for j, v2 in v1.items():
        print(i,j,v2,sep='\t')

key1	key	val
2	0	0
2	1	2
2	2	4

In [14]:
country_code = {
    'Iceland' : {'code': 354,'captital':'Reykjavik'},
    'Ireland' : {'code': 353,'captital':'Dublin'},
    'Azerbaidjan':{'code':994,'capital':'Baku'}
}

def getstr_keyval(x):
    if isinstance(x,dict):
        return x

    my_str = ''
    for key,val in x.items():
        my_str +=(' '+str(key) + ' '+getstr_keyval(val))
    return my_str

for key1, val in country_code.items():
    print(key1,getstr_keyval(val))

Iceland {'code': 354, 'captital': 'Reykjavik'}
Ireland {'code': 353, 'captital': 'Dublin'}
Azerbaidjan {'code': 994, 'capital': 'Baku'}

In [15]:
data = [
    ['01','0001','Male','Yamada','Tarou',25,'Tokyo'],
    ['01','0002','Male','Satou','Takeshi',27,'Kanagawa'],
    ['01','0003','Female','Tanaka','Yuto',25,'Saitama'],
    ['02','0001','Male','Smith','Mike',22,'NewJersey'],
    ['02','0002','Male','Turner','Tom',27,'Kansas'],
    ['02','0003','Male','Jackson','David',22,'Florida']
]
data

[['01', '0001', 'Male', 'Yamada', 'Tarou', 25, 'Tokyo'],
 ['01', '0002', 'Male', 'Satou', 'Takeshi', 27, 'Kanagawa'],
 ['01', '0003', 'Female', 'Tanaka', 'Yuto', 25, 'Saitama'],
 ['02', '0001', 'Male', 'Smith', 'Mike', 22, 'NewJersey'],
 ['02', '0002', 'Male', 'Turner', 'Tom', 27, 'Kansas'],
 ['02', '0003', 'Male', 'Jackson', 'David', 22, 'Florida']]

In [17]:
member_infomation = {}

for record in data:
    key = (record[0],record[1])
    info = record[2:]
    member_infomation[key] = info

In [18]:
print('number','infomation',sep='\t')
for key,info in member_infomation.items():
    print(key,info)

number	infomation
('01', '0001') ['Male', 'Yamada', 'Tarou', 25, 'Tokyo']
('01', '0002') ['Male', 'Satou', 'Takeshi', 27, 'Kanagawa']
('01', '0003') ['Female', 'Tanaka', 'Yuto', 25, 'Saitama']
('02', '0001') ['Male', 'Smith', 'Mike', 22, 'NewJersey']
('02', '0002') ['Male', 'Turner', 'Tom', 27, 'Kansas']
('02', '0003') ['Male', 'Jackson', 'David', 22, 'Florida']