In [2]:
intdict = {'1':'one','2':'two','3':'three'}
for key,val in intdict.items():
    print(key,val)

1 one
2 two
3 three

In [3]:
mountains = ['fuji','kitadake','okuhodakadake']
for i, mt in enumerate(mountains):
    print(i,mt)

0 fuji
1 kitadake
2 okuhodakadake

In [5]:
order = [1,2,3]
mountains = ['fuji','kitadake','okuhodakadake']
height = [3776,3193,3190]
for odr,mt,ht in zip(order,mountains,height):
    print(odr,mt,ht)

1 fuji 3776
2 kitadake 3193
3 okuhodakadake 3190

In [6]:
mountains = ['kitadake','okuhoudake','fuji']
for mt in sorted(mountains):
    print(mt)

fuji
kitadake
okuhoudake

In [7]:
mountains = ['fuji','kitadake','okuhodakadake']
for mt in reversed(mountains):
    print(mt)

okuhodakadake
kitadake
fuji

In [8]:
mountain_in_japan = {'fuji':3776,'kitadake':3193,'okuhodakadake':3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(),key=lambda x:x[0])
for key,val in mountain_in_japan_sorted:
    print(key,val)

fuji 3776
kitadake 3193
okuhodakadake 3190

In [10]:
mountain_in_japan = {'fuji':3776,'kitadake':3193,'okuhodakadake':3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(),key=lambda
x:x[1])
for key,val in mountain_in_japan_sorted:
    print(key,val)

okuhodakadake 3190
kitadake 3193
fuji 3776

In [11]:

for key,val in reversed(mountain_in_japan_sorted):
    print(key,val)

fuji 3776
kitadake 3193
okuhodakadake 3190

In [12]:
mountain_in_japan ={'fuji':3776,'kitadake':3193,'okuhodakadake':3190,'dummy':0}

In [13]:
mountain_in_japan ={'fuji':3776,'kitadake':3193,
                    'okuhodakadake':3190,'dummy':0}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(),
                                  key = lambda x: x[1],reverse=True)
print(mountain_in_japan_sorted

)

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190), ('dummy', 0)]

In [15]:
mountain_in_japan_dict_items =  mountain_in_japan.items()
sorted(mountain_in_japan_dict_items,key = lambda x: x[1])

[('dummy', 0), ('okuhodakadake', 3190), ('kitadake', 3193), ('fuji', 3776)]

In [20]:
from operator import itemgetter
sorted(mountain_in_japan_tpllist, key=itemgetter(1))

NameError: name 'mountain_in_japan_tpllist' is not defined

In [21]:
from operator import attrgetter

class MountainInfo:
    def __init__(self,my_name,my_height):
        self.name = my_name
        self.height = my_height
    def __repr__(self):
        return repr((self.name,self.height))

mountain_in_japan_clslist = [
    MountainInfo('fuji',3776),
    MountainInfo('kitadake',3193),
    MountainInfo('okuhodakadake',3190),
    MountainInfo('dummy',0)
]

print(mountain_in_japan_clslist)
sorted(mountain_in_japan_clslist,key=attrgetter('height'))

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190), ('dummy', 0)]

[('dummy', 0), ('okuhodakadake', 3190), ('kitadake', 3193), ('fuji', 3776)]

In [24]:
height = [3776,3193,None,None]
for i in range(len(height)):
    if height[i] if None:
        del height[i]

SyntaxError: invalid syntax (<ipython-input-24-11bf47f4cb64>, line 3)

In [25]:
height = [3776,3193,None,None]
used_index = []
for i,ht in enumerate(height):
    used_index.append(1)
    if ht is None:
        del height[1]
height

[3776, None, None]

In [26]:
used_index

[1, 1, 1]

In [27]:
height = [3776,3193,3190,None,None]
for ht in height[:]:
    if ht is None:
        height.remove(ht)
height

[3776, 3193, 3190]

In [29]:
height = [3776,3193,3190,None,None]
height = [ht for ht in height if ht is not None]
height

[3776, 3193, 3190]